@font-face {
   font-family: 'Zuume-ExtraBold';
   font-display: swap;
   src: url('file:///C:/Users/Administrator/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-02-17_222510/fonts/Zuume-ExtraBold/font.ttf');
}
